.burger-img{
  max-width: 100%;
  height: auto;
}

.subTitle {
  text-align: center;
  margin-top: 60px;
  font-family: PT Sans;
  font-weight: 900;
}

.main-title {
  background: url("./../../assets/burger1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-btn {
  padding : 25px 50px;
  font-weight: bold;
  background-color: #008CBA;
  border-color: #008CBA;
}
.build-btn:hover {
  background-color: #0079a1;
  border-color: #0079a1;
}

.sub-panel {
  margin-top: 30px;
  border-top: 4px solid #ef582b;
  padding: 25px 0;
}

.built-type {
  text-align: center;
  font-family: PT Sans;
  font-weight: bold;
  color : #ef582b;
}

.home-img {
  width: 100%;
  height: 250px !important;
}

.type {
  color : #747474;
  font-family: PT Sans;
  font-weight: 500;
}

.sub-panel .caption {
  height: 220px;
}

.burger-details .panel-title{
  color: #ef582b;
  font-weight: 900;
}
.burger-details .price, .burger-details .calories{
  padding: 0 10px;
  color : #747474;
}
.burger-details p{
  color: #747474;
  font-style: italic;
}
