<div class="row">
  <div class="col-xs-12 main-title">
    <a routerLink="/build" routerLinkActive="active" type="button" class="btn btn-primary btn-lg build-btn">BUILD YOUR BURGER</a>
  </div>
  <div class="col-xs-12">
    <h2 class="subTitle">HOW A BURGER IS BUILT</h2>
    <div class="col-md-10 col-md-offset-1 col-xs-12 sub-panel">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-xs-12" *ngFor="let home of homeFields">
          <div class="thumbnail">
            <img src="./../../assets/{{home.img}}" class="home-img" alt="Burger Type">
            <div class="caption">
              <h4 class="built-type">{{home.title}}</h4>
              <ul>
                <li class="type" *ngFor="let type of home.types">{{type}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
