<div class="row">
  <div class="col-xs-12 main-title">
    <a routerLink="/build" routerLinkActive="active" type="button" class="btn btn-primary btn-lg build-btn">BUILD YOUR BURGER</a>
  </div>
  <div class="col-xs-12">
    <h2 class="subTitle">HOW A BURGER IS BUILT</h2>
    <div class="col-sm-10 col-sm-offset-1 col-xs-12 sub-panel">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12" *ngFor="let home of homeFields">
          <div class="thumbnail">
            <img src="./../../assets/{{home.img}}" class="home-img" alt="Burger Type">
            <div class="caption">
              <h4 class="built-type">{{home.title}}</h4>
              <ul>
                <li class="type" *ngFor="let type of home.types">{{type}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <h2 class="subTitle">HOW TO BUILD YOUR BURGER</h2>
    <div class="col-md-10 col-md-offset-1 col-xs-12 sub-panel">
      <h4>There are 4 ways to build your Burger :</h4>
      <div class="panel panel-default burger-details">
        <div class="panel-heading">
          <h3 class="panel-title">
            BASIC BURGER
            <span class="pull-right price">Calories : 205 - 732 | Base Price : $4.99</span>
          </h3>
        </div>
        <div class="panel-body">
          <p>Select Bread (Any One) - Plain White, White Bun with Sesame seeds, Brioche.</p>
          <p>Select Meat/Vegan (Any One) - Vegan, Egg, (Extra $0.75 for - Chicken, Ham, Beef, Pork). </p>
          <p>Select Cheese (Any One) - None, Cheddar Cheese, Blue Cheese.</p>
          <p>Select Toppings (Any Two)(additional $0.49/each extra) - Tomato, Onions, Carrot, Veggies.</p>
          <p>Select Additional Toppings(Additional $0.99/each) - Avocado, Jalapeños, Lettuce, Grilled Mushrooms.</p>
          <p>Select Sauces (Any Number) - Aioli, Ketchup, Mustard, Mayonnaise.</p>
        </div>
      </div>

      <div class="panel panel-default burger-details">
        <div class="panel-heading">
          <h3 class="panel-title">
            HEALTHY BURGER
            <span class="pull-right price">Calories : 157 - 732 | Base Price : $5.99</span>
          </h3>
        </div>
        <div class="panel-body">
          <p>Select Bread (Any One) - Plain White, White Bun with Sesame seeds, Brioche, English Muffin.</p>
          <p>Select Meat/Vegan (Any One) - Vegan, Egg, Chicken, (Extra $0.75 for - Ham, Beef, Pork). </p>
          <p>Select Cheese (Any One) - None, Cheddar Cheese, Blue Cheese, Swiss cuisine.</p>
          <p>Select Toppings (Any Two) - Tomato, Onions, Carrot, Veggies (additional $0.49/each extra).</p>
          <p>Select Additional Toppings(Any One)(Additional $0.99/each) - Avocado, Jalapeños, Lettuce, Grilled Mushrooms.</p>
          <p>Select Sauces (Any Number) - Aioli, Ketchup, Mustard, Mayonnaise.</p>
        </div>
      </div>

      <div class="panel panel-default burger-details">
        <div class="panel-heading">
          <h3 class="panel-title">
            DELUXE BURGER
            <span class="pull-right price">Calories : 157 - 741 | Base Price : $6.99</span>
          </h3>
        </div>
        <div class="panel-body">
          <p>Select Bread (Any One) - Plain White, White Bun with Sesame seeds, Brioche, English Muffin, Pretzel Roll, Torta Roll.</p>
          <p>Select Meat/Vegan (Any One) - Vegan, Egg, Chicken, Ham, Beef, Pork. </p>
          <p>Select Cheese (Any One) - None, Cheddar Cheese, Blue Cheese, Swiss cuisine, Brie.</p>
          <p>Select Toppings (Any Number) - Tomato, Onions, Carrot, Veggies.</p>
          <p>Select Additional Toppings(Any One)(Additional $0.99/each) - Avocado, Jalapeños, Lettuce, Grilled Mushrooms.</p>
          <p>Select Sauces (Any Number) - Aioli, Ketchup, Mustard, Mayonnaise.</p>
        </div>
      </div>

      <div class="panel panel-default burger-details">
        <div class="panel-heading">
          <h3 class="panel-title">
            SUPER BURGER
            <span class="pull-right price">Calories : 157 - 741 | Base Price : $7.99</span>
          </h3>
        </div>
        <div class="panel-body">
          <p>Select Bread (Any One) - Plain White, White Bun with Sesame seeds, Brioche, English Muffin, Pretzel Roll, Torta Roll, Challah Roll, Rye Bread.</p>
          <p>Select Meat/Vegan (Any One) - Vegan, Egg, Chicken, Ham, Beef, Pork. </p>
          <p>Select Cheese (Any One) - None, Cheddar Cheese, Blue Cheese, Swiss cuisine, Brie, Provolone.</p>
          <p>Select Toppings (Any Number) - Tomato, Onions, Carrot, Veggies.</p>
          <p>Select Additional Toppings(Any Two)(Additional $0.99/each) - Avocado, Jalapeños, Lettuce, Grilled Mushrooms.</p>
          <p>Select Sauces (Any Number) - Aioli, Ketchup, Mustard, Mayonnaise.</p>
        </div>
      </div>
    </div>
  </div>
</div>
